body {
    background-image: url("bioskop.jpeg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
} 
#kon1{
    background-color: rgba(52, 1, 1, 0.86);

}

.col{

    border-radius: 5%;
    align-items: center;
}


